* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
}

.search {
    max-width: 60rem;
    display: flex;
    width: 50%;
}

.search input {
    padding: 0.5rem 1rem;
    width: 100%
}

.search input:focus-visible {
    outline: 1px solid purple;
}

.primary-btn {
    background-color: rgba(128, 0, 128, 0.888);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
}

.primary-btn:hover {
    background-color: purple;
}

.primary-btn:active {
    background-color: rgb(255, 0, 255);
}

/* For Card */

#profile-container {
    width: 100%;
}

.profile-box {
    margin: auto;
    width: 90%;
    max-width: 80rem;
    font-size: 1.5rem;
    padding: 4rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in;
}


.profile-box:hover {
    transform: rotate(-3deg) scale(1.02);
}

.avatar {
    height: 10rem;
    width: 10rem;
}

.avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    gap: 1.2rem;
    display: flex;
    align-items: center;
}

.about {
    margin: 1rem;
}

.status {
    margin: 1rem;
    display: flex;
    gap: 15rem;
}

.status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}